
.nav__dark{
    background-color: #1D2029;   
}
.nav__light{
    background-color: #FFFFFF;
    
}
.nav-color{
    color: var(--baseColor) !important
}
.nav__logo{
    width: 80px;
    object-fit: contain;
}

.navbar-toggler-icon{
    color: var(--baseColor) !important
}

.menu-icon{
    color: var(--baseColor);
    font-size: 25px;
}

.space{
    margin-right: 30px;
}
